@font-face {
	font-family: 'Geometria';
	src: url(../fonts/Geometria.woff2);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Geometria';
	src: url(../fonts/Geometria-Bold.woff2);
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Geometria';
	src: url(../fonts/Geometria-Medium.woff2);
	font-style: normal;
	font-weight: 300;
}

body {
	background: #fafafa;
	font-size: 15px;
	font-family: Geometria, Georgia, Times, serif;
}

img {
	border: none;
	outline: none;
}

p {
	color: #252b32;
	line-height: 30px;
	font-size: 20px;
	font-weight: 100;
}
.paragraph {
	margin-left: -15px;
}

span {
	font-weight: 100;
}

ul,
ol {
	padding: 1.9rem 0;
	margin: 0;
}

.row {
	max-width: 100vw;
}

#global-container {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sub-global-container {
	max-width: 1440px;
	overflow-x: hidden;
}

/*HEADER START*/
/*HEADER*/
header {
	font-family: 'Geometria';
	font-weight: 600;
	height: 130px;
}

.header-column {
	justify-content: center;
	width: 100%;
}

header a {
	color: #252b32;
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

header .upper-row {
	align-items: center;
	height: 77px;
	font-size: 20px;
}

header .upper-row a {
	color: #252b32;
}

header .upper-row .number {
	color: #e83f55;
	font-weight: bold;
	padding: 0 0.3em;
}

header .lower-row {
	display: flex;
	height: 53px;
	text-transform: uppercase;
}

header .lower-row .first {
	font-size: 1em;
	border-bottom: 2px solid #e83f55;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	justify-content: center;
}

header .lower-row .first a:hover {
	color: white;
}

header .lower-row .first:hover {
	background: #e83f55;
	color: white;
}

header .lower-row .first:hover a {
	color: white;
}

header .lower-row .first .active {
	background-color: #e83f55;
}

header .lower-row .second {
	border-bottom: 2px solid #00a3da;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
}

header .lower-row .second a:hover {
	color: white;
}

header .lower-row .second:hover {
	background: #00a3da;
	color: white;
}

header .lower-row .second:hover a {
	color: white;
}

header .lower-row .first:hover a {
	color: white;
}

header .lower-row .first .active {
	background-color: #00a3da;
}

header .lower-row .third {
	border-bottom: 2px solid #809f43;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
}

header .lower-row .third a:hover {
	color: white;
}

header .lower-row .third:hover {
	background: #809f43;
	color: white;
}

header .lower-row .third:hover a {
	color: white;
	text-decoration: none;
}

header .lower-row .third .active {
	background-color: #809f43;
	color: black;
}

header .lower-row .third .active-link {
	text-decoration: none;
}

header .lower-row .forth {
	border-bottom: 2px solid #e88354;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
}

header .lower-row .forth a:hover {
	color: white;
}

header .lower-row .forth:hover {
	background: #e88354;
	color: white;
}

header .lower-row .forth:hover a {
	color: white;
}

header .active {
	color: black;
}

header .lower-row .five {
	border-bottom: 2px solid #fcc03d;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
}

header .lower-row .five .active {
	background-color: #fcc03d;
}

header .lower-row .five a:hover {
	color: white;
}

header .lower-row .five:hover {
	background: #fcc03d;
	color: white;
}

header .lower-row .five:hover a {
	color: white;
}

header ul.main-menu {
	display: flex;
	justify-content: space-between;
	height: 53px;
	list-style: none;
	align-items: center;
	padding: 0;
}

header ul li.main-menu__item {
	font-size: 14px;
	width: 100%;
}

header .archive {
	width: 165px;
	line-height: 2.5em;
	background-image: url(../images/archive_icon.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: center;
	padding-left: 40px;
	font-size: 14px;
	max-width: 220px;
}

header .search {
	width: 70px;
	line-height: 1.7em;
	background-image: url(../images/search_icon.svg);
	background-repeat: no-repeat;
	background-position-x: 13px;
	padding-right: 25px;
	font-size: 14px;
	text-align: right;
	max-width: 125px;
}

header .logo {
	background: #004a97;
	width: 156px;
	min-width: 156px;
}

header .logo img {
	width: 156px;
	margin-left: -15px;
}

/*HEADER END*/

/*MAIN IMAGE START*/
.white-line-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.white-line {
	z-index: 1000;
	height: 65px;
	flex-basis: 1300px;
	margin: -5px 5%;
	margin-top: -60px;
	background-color: #fafafa;
}

#main-image img {
	/* max-width: 1440px; */
	background-size: cover;
	width: 100%;
	margin-top: 30px;
}

/*MAIN IMAGE END*/

/*CONTAINERS*/
.major-main-container {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

/*Aside bar start*/
.aside-wrapper {
	min-width: 415px;
}

.article-info-content-wrapper {
	position: relative;
}

.article-info-content__sidebar {
	flex-basis: 400px;
	max-width: 600px;
	list-style: none;
	text-align: left;
	margin-top: -35px;
}

.article-info-content__sidebar .wrapper {
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	margin-left: 0;
}

.article-info-content__sidebar .wrapper span {
	font-size: 20px;
	line-height: 14px;
	font-weight: 600;
	margin-right: 10px;
	margin-left: 32px;
}

.article-info-content__sidebar-thumbUp {
	position: relative;
	top: 3px;
	left: 25px;
}

.feedback .feedback-wrapper:hover .article-info-content__sidebar-thumbUp-number {
	color: #e83f55;
}

.feedback .feedback-wrapper:hover .article-info-content__sidebar-thumbUp #thumbUp {
	fill: #e83f55;
}

.article-info-content__sidebar-thumbUp-number {
	margin-left: 30px !important;
}

.article-info-content__sidebar .feedback span {
	font-size: 14px;
	margin-left: 10px;
}

.article-info-content__sidebar .feedback img {
	margin-left: -5px;
	margin-bottom: 11px;
	margin-right: -12px;
}

.article-info-content__sidebar .social {
	display: flex;
	justify-content: left;
	width: 100%;
}

.article-info-content__sidebar .social-box {
	display: flex;
	justify-content: space-between;
	width: 130px;
}

.social-box a:hover #social-1 {
	fill: #4a76a8;
}

.social-box a:hover #social-2 {
	fill: #4a76a8;
}

.social-box a:hover #social-3 {
	fill: #4a76a8;
}

.article-info-content__sidebar li {
	font-family: Geometria;
	font-weight: 600;
	font-size: 0.9rem;
	padding: 18px 0;
	padding-left: 60px;
	border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.article-info-content__sidebar li.out-time {
	display: flex;
	flex-direction: column;
	color: #e88354;
	padding-left: 90px;
	text-transform: uppercase;
}

.article-info-content__sidebar li.feedback {
	padding-left: 90px;
}

.article-info-content__sidebar li.out-time .subtitle {
	color: #252b32;
	margin-top: 18px;
}

.article-info-content__sidebar li.social {
	border-bottom: none;
}

/*****Aside bar end******/

/*****Text-Wrapper******/
.text-wrapper {
	padding-right: 10%;
}

/* MAIN ARTICLE STYLES */
.main-block .article {
	position: relative;
	top: -60px;
	padding-top: 60px;
	background: #fafafa;
}

.article-content {
	z-index: 0;
	margin-top: -60px;
	padding-right: 120px;
}

.article-content h1,
h2,
h3,
h4,
h5 {
	font-family: Geometria;
	color: #252b32;
	margin: 60px 0 30px 0;
}

.article-content h1 {
	font-size: 40px;
	font-weight: 300;
}

.article-content h2 {
	font-size: 30px;
	font-weight: 300;
}

.article-content h3 {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 300;
}

.article-content h4 {
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
}

.article-content p.preview {
	max-width: 815px;
	font-size: 26px;
	line-height: 32px;
	color: #004a97;
}

.article-ol {
	font-family: Geometria;
	font-weight: 300;
	counter-reset: list;
	list-style: none;
}

.article-ol li {
	counter-increment: list;
	font-size: 20px;
	line-height: 30px;
}

.article-ol li:before {
	font-family: sans-serif;
	font-size: 1rem;
	color: #004a97;
	font-weight: bold;
	content: counter(list) '—';
	letter-spacing: 1.3rem;
	margin-left: -70px;
}

.article-ul li {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	list-style: none;
}

.article-ul li:before {
	font-family: Geometria;
	font-weight: 300;
	font-size: 14px;
	color: #004a97;
	content: '—';
	letter-spacing: 1.3rem;
	margin-left: -40px;
}

/*QUOTE block*/
.article-qoute {
	position: relative;
	padding-left: 30px;
	margin: 60px 0;
}

.article-qoute:before {
	position: absolute;
	content: '';
	left: 0;
	height: 100%;
	z-index: 100;
	border-left: 2px solid #004a97;
}

.article-qoute::after {
	z-index: 200;
	position: absolute;
	top: -30px;
	left: -40px;
	width: 100%;
	height: 100%;
	content: '';
	background: url(../images/66-sign.svg) no-repeat left top;
}

.article-qoute > p {
	font-size: 26px;
	line-height: 32px;
}

.article-qoute > cite {
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	font-weight: 100;
}

.article-qoute > span {
	font-size: 20px;
	line-height: 30px;
	opacity: 0.5;
}

.article-qoute > img {
	margin: 0;
	float: left;
	margin-right: 30px;
}

/* Article exclamation block*/

.article-exclamation {
	position: relative;
	margin: 90px 0 60px 30px;
	border-top: 2px solid #004a97;
}

.article-exclamation:before {
	content: '';
	top: -5px;
	left: 0px;
	z-index: 150;
	position: absolute;
	background-color: #fafafa;
	width: 70px;
	height: 10px;
}

.article-exclamation:after {
	z-index: 200;
	position: absolute;
	top: -60px;
	left: -70px;
	width: 900px;
	height: 100px;
	content: '';
	background: url(../images/exclamation-mark.svg) no-repeat left top;
}

.article-exclamation > p {
	line-height: 1rem;
	margin-top: -10px;
}

.article-exclamation > span {
	font-family: Geometria;
	font-weight: 600;
	margin-top: 2rem;
	font-size: 3.46rem;
	color: #004a97;
}

/*SPLITTED IMAGE CENTRED*/

.article-annotation-image__wrapper-centred {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30%;
	padding-right: 40px;
	max-height: 415px;
	overflow: hidden;
}

.aside-wrapper {
	min-width: 415px;
}

.article-annotation-image {
	position: relative;
}
.row.article-annotation-image {
	position: relative;
}

.article-annotation-image img {
	position: relative;
	top: 40px;
	z-index: 100;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	height: 415px;
	width: 815px;
}

.article-annotation-image__background {
	position: absolute;
	top: 0;
	z-index: 0;
	height: 100%;
	min-width: 70%;
	height: 415px;
	max-height: 415px;
	overflow: hidden;
	background: #004a97;
}

.article-annotation-image__wrapper-centred > h4 {
	font-family: Geometria;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 25px;
	color: #fafafa;
	font-size: 14px;
	text-align: right;
}
.article-annotation-image__wrapper-centred > p {
	font-family: Geometria;
	color: #fafafa;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	margin-bottom: 20px;
}

/*IMAGE RIGHT SIDE W/INSCRIPTION*/
.article-annotation-image-rs {
	display: flex;
	justify-content: flex-end;
	margin: 60px 0;
}

.article-annotation-image-rs img {
	max-width: 500px;
	max-height: 800px;
	padding-right: 0;
}

.article-annotation-image-rs__figcaption-wrapper-centred {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-right: 60px;
	min-width: 425px;
	min-height: 100%;
	top: 50px;
	left: 5px;
	width: 245px;
}

.article-annotation-image-rs__figcaption-wrapper-centred p {
	margin-top: auto;
}

.article-annotation-image-rs__figcaption-wrapper-centred span {
	margin-bottom: auto;
}
/*Zoom image*/
.text-wrapper.zoom-image {
	padding-right: 0;
}

/*SLIDER*/
.slider-container {
	display: flex;

	max-width: 100%;
	max-height: 500px;
	justify-content: center;
	margin-top: 60px;
}

.slider-wrapper {
	display: flex;
	left: 10px;
	justify-content: center;
	flex-wrap: wrap;
	padding-right: 0px;
}
.slider {
}

.slider__image {
	max-height: 500px;
	right: 0;
	z-index: 5000;
}

.slider-nav {
	position: relative;
	top: -50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 500px;
	z-index: 5500;
	padding-top: 5%;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

.slider-nav .next,
.prev {
	opacity: 0.6;
}

.slider-figcaption {
	min-width: 100%;
	display: flex;
	justify-content: flex-end;
}

.slider-figcaption .text-wrapper p {
	margin: 20px 0 60px 0;
	font-size: 14px;
	line-height: 18px;
}

.slider__image {
	max-height: 500px;
	right: 0;
	z-index: 5000;
}

.slider__image img {
	object-fit: cover;
	width: 100%;
}

/*Simple Article Image with Zoom*/

.article-image {
	width: 100%;
	max-width: 815px;
	max-height: 500px;
	margin-left: 15px;
	margin-bottom: 90px;
	z-index: 0;
	position: relative;
}

.article-image__zoom {
	opacity: 0;
	position: absolute;
	z-index: 200;
	right: 0;
	top: 0;
	width: 790px;
	height: 480px;
	background-size: 120px 120px;
	background: url(../images/zoom-tool.svg) no-repeat center center;
}

.article-image__zoom.hover {
	opacity: 1;
}

.article-image > img {
	width: 100%;
}

figcaption > p {
	font-family: Geometria;
	margin: 20px 0 60px 0;
	font-size: 14px;
	line-height: 18px;
}

/*OPINIONS*/
/*Article Opinions block*/
.article-opinions {
	position: relative;
	padding-left: 60px;
	margin: 60px 0;
	margin-top: 60px;
}

.article-opinions:before {
	position: absolute;
	content: '';
	left: 0;
	margin-left: 25px;
	height: 100%;
	z-index: 100;
	border-left: 2px solid #004a97;
}

.article-opinions::after {
	z-index: 200;
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: url(../images/opinions-sign.svg) no-repeat left top;
}

.article-opinions > h1 {
	font-family: Geometria;
	font-size: 26px;
	line-height: 32px;
	font-weight: 100;
}

.article-opinions > p {
	font-size: 14px;
	line-height: 18px;
	color: #252b32;
}

.article-opinions > cite {
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	font-weight: 100;
}

.article-opinions > span {
	font-size: 20px;
	line-height: 30px;
	opacity: 0.5;
}

.article-opinions > img {
	margin: 0;
	float: left;
}

/*READ ALSO */
.read-also {
	width: 100%;
	height: 400px;
	margin-bottom: 230px;
}

.read-also__title {
	font-family: Geometria;
	font-weight: 300;
	font-size: 2rem;
}

.read-also__carousel {
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.read-also__carousel-block {
	width: 245px;
	height: 300px;
	margin-top: 2rem;
}

.read-also__carousel-block img {
	width: 245px;
	height: 154px;
}

.read-also__carousel-block-title {
	margin: 20px 0 10px 0;
}

.read-also__carousel-block-title a {
	font-family: Geometria;
	font-weight: 300;
	font-size: 18px;
}

.read-also__carousel-block-title a {
	color: #252b32;
}

.read-also__carousel-block-title a:hover {
	color: #004a97;
	text-decoration: none;
}

.read-also__carousel-block-title-p {
	font-family: Geometria;
	font-size: 14px;
	line-height: 18px;
}

/*FOOTER*/
footer {
	margin-top: 500px;
}
footer .row {
	margin: 0;
}

footer {
	min-height: 110px;
	max-height: 130px;
	background-color: #004a97;
}

footer .logo img {
	width: 110px;
	height: 100px;
}

footer .center-column {
	display: flex;
	justify-content: space-between;
}

footer .column-1 {
	width: 320px;
}

footer .column-1 p,
.column-2 p,
.column-3 p {
	font-family: Geometria;
	color: #fafafa;
	font-size: 14px;
	line-height: 20px;
}

footer .column-1 h4,
.column-2 h4,
.column-3 h4 {
	font-family: Geometria;
	font-weight: 600;
	color: #fafafa;
	font-size: 12px;
	margin: 0;
	padding: 30px 0 5px 0;
}

footer .column-2 {
	width: 220px;
}

footer .column-3 {
	width: 360px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/*320px*/
@media (max-width: 576px) {
	.row {
		/* border:1px solid gray; */
	}

	.major-main-container {
		max-width: 100vw;
	}

	.header ul.main-menu {
		flex-direction: column;
		height: 150px;
		display: none;
	}

	header .logo {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	header .archive {
		line-height: 1rem;
	}

	header .search {
		background-position-x: 0px;
	}

	#main-image {
		margin-top: 60px;
		margin-bottom: 40px;
		width: 100vw;
	}

	.main-image {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#main-image:before {
		display: none;
	}

	.aside-wrapper {
		min-width: 80%;
		max-width: 100%;
		max-height: 500px;
		align-items: flex-start;
		margin: 0;
		padding: 0;
	}

	.article-content {
		padding-right: 0;
	}

	.article-ol li:before {
		margin-left: 0;
	}

	.article-ul li:before {
		margin-left: 0;
	}

	.article-qoute::after {
		left: -10px;
	}

	.article-exclamation:after {
		left: -40px;
		max-width: 100%;
	}

	.article-image {
		width: 100%;
		z-index: 0;
		height: 60vw;
	}
	.article-image img {
		margin-left: -5px;
		width: 95vw;
	}
	.article-image__zoom {
		right: -225px;
		top: -140px;
	}
	.article-image figcaption {
		padding-left: 10px;
		margin-left: 0;
		padding-right: 10px;
	}

	.article-opinions::after {
		left: -5px;
	}

	/* 320 up Annotation image center*/
	.article-annotation-image img {
		position: relative;
		top: 0;
		left: -5px;
		min-width: 93vw;
		max-height: 200px;
	}
	.article-annotation-image__background {
		min-width: 100%;
	}
	.article-annotation-image-rs {
		flex-direction: column;
		margin-top: 0;
	}
	.article-annotation-image-rs > figcaption {
		order: 2;
		max-width: 95%;
		padding-left: 15px;
	}
	.article-annotation-image-rs__figcaption-wrapper-centred {
		left: -10px;
	}
	.article-annotation-image-rs__figcaption-wrapper-centred p {
		max-width: 80%;
	}
	.article-annotation-image-rs__figcaption-wrapper-centred span.shiftUp320 {
		position: absolute;
		top: -30px;
	}

	.article-annotation-image-rs img {
		max-width: 95%;
		max-height: 95%;
		display: block;
		order: 1;
	}

	.slider {
		height: 170px;
		padding-right: 15px;
	}
	.slider-wrapper {
		left: 0;
	}
	.slider-figcaption {
		top: -15px;
		position: relative;
		margin-bottom: 40px;
	}
	.slider-figcaption .text-wrapper p {
		margin-bottom: 0;
		padding-left: 10px;
	}
	.slider figcaption {
		padding-left: 10px;
	}

	.slider-nav {
		max-height: 60vw;
		top: -50vw;
		position: relative;
		justify-content: space-between;
		padding: 5% 5%;
	}

	.read-also {
		width: 100%;
		height: 100%;
		align-items: flex-start;
		max-height: 1500px;
		margin-bottom: unset;
	}

	.read-also__carousel {
		height: unset;
		flex-direction: column;
	}
	.read-also__carousel-block {
		width: 100%;
		margin-top: 20%;
	}
	.read-also__carousel img {
		width: 100%;
		height: 63%;
		object-fit: cover;
	}

	footer {
		max-width: 99vw;
		display: flex;
		align-items: flex-start;
		max-height: 350px;
		height: 100%;
		padding: 0;
	}

	footer .footer {
		padding: 0;
	}

	footer .center-column {
		flex-direction: column;
	}

	footer .logo {
		margin-left: 5px;
	}

	footer .column-1 {
		max-width: 100%;
	}

	footer .column-2 {
		max-width: 100%;
	}

	footer .column-3 {
		max-width: 100%;
	}

	/* humburger */
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000000;
		display: flex;
		width: 100%;
		height: 60px;
		background: rgba(255, 255, 255, 1);
	}
	.menu-small-logo {
		width: 100vw;
		min-height: 60px;
		border-bottom: 1px solid rgb(0, 0, 0, 0.5);
		margin-left: -1px;
	}

	.menu ul {
		display: flex;
		list-style: none;
		width: 100%;
		justify-content: center;
		align-items: left;
		padding-left: 20px;
		padding-top: 20px;
	}

	.menu ul li {
		margin: 30px 1rem;
	}
	.menu ul li:hover {
		background: #809f43;
	}

	.menu ul li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #252b32;
	}

	.menu {
		visibility: hidden;
		height: 310px;
		transform: translate(100vw, 0);
		transition: all 0.5s ease-out;
	}

	.menu.show {
		visibility: visible;
		transform: translate(0, 0);
		transition: all 0.5s ease-out;
		max-height: 310px;
	}

	.menu ul {
		flex-direction: column;
	}

	.menu ul li {
		margin: 0;
		width: 100vw;
		padding-left: 30px;
		margin-left: -30px;
		line-height: 26px;
	}

	.menu ul li a {
		font-size: 14px;
		font-weight: 600;
	}
	.menu ul li a:hover {
		color: #fafafa;
	}

	.menu-btn {
		position: absolute;
		z-index: 1000001;
		right: 25px;
		top: 25px;
		cursor: pointer;
	}

	.menu-btn .btn-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: white;
	}
	.menu-btn.close .btn-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #252b32;
	}

	.close {
		opacity: 1;
	}

	.menu-btn.close {
		top: 15px;
		transform: rotate(180deg);
		transition: all 0.5s ease-out;
	}

	.menu-btn.close .btn-line:nth-child(1) {
		transform: rotate(45deg) translate(5px, 5px);
	}

	.menu-btn.close .btn-line:nth-child(2) {
		opacity: 0;
	}

	.menu-btn.close .btn-line:nth-child(3) {
		transform: rotate(-45deg) translate(7px, -6px);
	}

	/* MENU HAMBUTGER END */
}
/*--------END 320px------------*/

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
	.row .article-annotation-image {
		max-height: 415px;
	}
	.article-annotation-image__wrapper-centred {
		padding-left: 0;
		padding-right: 40%;
	}
	.article-annotation-image img {
		top: 0;
		left: -150px;
		max-width: 550px;
		max-height: 100%;
		padding-right: 25%;
	}

	.article-annotation-image figure {
		top: -340px;
		left: 415px;
	}

	.slider-figcaption {
		margin-top: -50px;
	}
	.slider-wrapper {
		left: -5px;
		max-height: 400px;
	}
	.article-image {
		left: 40px;
	}
	.article-image img {
		margin-left: -44px;
	}
	/*image-rs*/
	.article-annotation-image-rs {
		flex-direction: column;
		margin-top: 0;
	}
	.article-annotation-image-rs__figcaption-wrapper-centred {
		order: 2;
	}
	.article-annotation-image-rs img {
		order: 1;
		margin-top: 90px;
	}

	.article-qoute:after {
		left: -10px;
	}
	.article-exclamation:after {
		left: -37px;
	}
	.read-also__carousel-block {
		width: 335px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.row.article-annotation-image {
		margin-bottom: -400px;
	}
	.article-annotation-image__background {
		max-height: 350px;
	}
	.article-annotation-image img {
		max-height: unset;
		top: -355px;
		left: 415px;
		padding-right: 10%;
	}
	.article-annotation-image__wrapper-centred {
		padding-right: unset;
		max-width: unset;
	}
	.article-annotation-image-rs {
		flex-direction: row;
	}
	.slider-wrapper {
		left: -5px;
	}
	.slider-figcaption {
		margin-top: unset;
	}
	.article-image img {
		width: 95vw;
		margin-left: 20px;
	}
	.article-image figcaption {
		margin-bottom: 200px;
		margin-left: 25px;
	}
	.read-also__carousel-block {
		width: 315px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.slider-wrapper {
		left: 12px;
	}
	.article-image {
		max-width: 820px;
	}
	.article-image img {
		width: 99%;
	}
	.text-wrapper {
		padding-right: 5%;
	}
	.slider-container {
		margin-top: 40px;
	}
	.article-qoute {
		max-width: 815px;
	}

	.paragraph {
		width: 815px;
	}
	.article-opinions::after {
		left: 0;
	}

	footer .row {
		width: 1155px;
	}
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
IE11
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.row {
		width: 100%;
	}
	.article-annotation-image-rs__figcaption-wrapper-centred p {
		margin-top: 150px;
	}

	.footer {
		width: 100%;
		height: 115px;
	}
}
